* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display:grid;
    place-items:center;
    height:100vh;
    background-size:cover;
    background-color: lightblue;
    overflow: hidden;
}

.formLogin {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    justify-content: space-around;
    border-radius: 24px;
    padding: 3rem 3rem;
}

.loginLabels {
    font-size: 1.5rem;
    font-weight: 700 ;
}

.loginInput {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.loginSubmit {
    width:25%;
    height: 2rem;
}
