* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(8pt + 0.3vw + 0.3vh);
}


.profileContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: hidden;
}

.topBar {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.734);
    padding: 1rem 1rem;
    width: 70%;
    overflow:scroll;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 12px;
}

.message {
    background-color: rgba(188, 246, 101, 0.526);
    color: antiquewhite;
    padding: 2rem 2rem;
    border-radius: 10px;
}

.logoutButton {
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
    border-radius: 24px;
    margin-top: 1rem;
}

.welcomeProfile {
    font-size: 4rem;
    margin-top: 1rem;

}

.inputMessage {
    width: 100%;
    height: 4rem;
    line-height: 1rem;
}
